.product-card {
  padding: 0.8em;
  width: 25%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: fit-content;
  border-radius: 0.5em;
}
.product-img-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
.product-details {
  margin: 2em 0 1em 0;
  display: flex;
  justify-content: space-between;
}
.add-cart-btn {
  width: 50%;
  height: 2.2em;
  cursor: pointer;
  background: #383838;
  color: white;
  border: 0;
}

/* Cart product card styles starts here*/
.cart-product-card {
  padding: 1em;
  display: flex;
  gap: 2.5em;
}
.cart-prod-img-container {
  border: 1px solid lightgray;
  padding: 0.5em;
  border-radius: 0.2em;
}
.cart-prod-img {
  width: 70px;
  height: 60px;
}
.cart-prod-name {
  display: flex;
  align-items: center;
}
.cart-prod-price {
  margin-top: 0.8em;
}
.cart-prod-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cart-delete {
  display: flex;
  align-items: center;
}
.cart-delete-btn {
  background-color: white;
  border: 1.5px solid grey;
  padding: 0.4em 1.4em;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 0.2em;
}
.quantity-input {
  display: flex;
  align-items: center;
}

.decrease-btn,
.increase-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: none;
  background-color: #f7f7f7;
  font-size: 18px;
  color: #333;
  cursor: pointer;
}

.quantity-field {
  width: 40px;
  height: 24px;
  border: none;
  background-color: #f7f7f7;
  font-size: 16px;
  text-align: center;
  margin: 0 10px;
}

.quantity-field::-webkit-outer-spin-button,
.quantity-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-field:focus {
  outline: none;
}

@media screen and (max-width: 576px) {
  .cart-product-card {
    justify-content: space-between;
    padding: 0.8em;
  }
  .cart-prod-img-container {
    align-items: center;
    display: flex;
    height: fit-content;
  }
  .cart-prod-img {
    height: 45px;
    width: 40px;
  }
  .quantity-input {
    justify-content: center;
    width: 90%;
  }
  .cart-delete-btn{
    padding: 0.4em 0.8em;
  }
}
