.loading{
  margin-top: 8em;
  text-align: center;
}
.homepage-container {
  margin-top: 5em;
  padding: 3em;
}
.search-input {
  width: 30%;
  margin: auto;
  display: flex;
  align-items: end;
  gap: 1em;
  position: fixed;
  top: 7em;
  right: 0;
}
.search-box {
  width: 60%;
  border: none;
  border-bottom: 1px solid #b8b6b6;
  outline: none;
}
.search-icon-container {
  background: #b8b6b6;
  padding: 0.5em 0.7em 0.2em 0.7em;
  cursor: pointer;
  border-radius: 0.4em;
}
.search-icon {
  color: white;
}
.main-container {
  margin-top: 3.5em;
  display: flex;
  justify-content: space-between;
}
.filters-container {
  width: 20%;
  padding: 1em 1.5em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.products-container {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 4em;
  max-height: 34em;
  overflow-y: scroll;
}
