.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5em 2.5em;
  background-color: #f0f0f0;
  position: fixed;
  top: 0;
}

.menu {
  display: flex;
  gap: 3em;
}

li {
  list-style: none;
}
